<!DOCTYPE HTML>
<html>

<head>
  <%# Meta %>
  <meta charset="utf-8" />
  <% if(locals.isMobile) { %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% } %>
  <% if (locals.meta) { %>
    <%- include((locals.isCms ? '../../../../tpl/partials/' : '../../../tpl/partials/') + locals.meta) %>
  <% } %>
  <%# Title %>
  <title>
    <% if(subtitle) { %>
      <%= subtitle %>.
    <% } %>
    <%= title.replace(/<br\/>/, ' ') %>
  </title>

  <%# Favicon %>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <%# Styles, Fonts %>
  <link href="<%- (locals.isCms ? '/css/style-full.css' : './engine/lp.css')  %>" rel="stylesheet" type="text/css" />
  <% for (var i=0; i<locals.fonts.google.length; i++) { %>
    <link href="<%= locals.fonts.google[i] %>" rel="stylesheet" type="text/css">
  <% } %>
</head>

<body>
  <%# Page content %>
  <% for(var i=0; i<locals.parts.length; i++) { %>
  <%- include((locals.isCms ? '../../../../tpl/body/' : '../../../tpl/partials/') + locals.parts[i]) %>
  <% } %>

  <%# Client config and initialization %>
  <script>
    window.r5m = {
      app: {
        // FEEDBACK_SERVICE: 'emailjs',
        FEEDBACK_SERVICE: '<%= feedbackService %>',
        FEEDBACK_EMAIL: '<%= feedbackEmail %>',
        FEEDBACK_TEMPLATE: '<%= locals.emailjsTpl || "default-emailjs-template" %>'
      },
      yandex: {
        COUNTER_ID: '<%= yandexId %>',
        DEFAULT_GOAL: 'r5m-call-me'
      },
      modules: <%- JSON.stringify(['menu-highlighter', 'feedback', 'r5mDimmer', 'carousel', 'gallery', 'page', 'utm-content'].concat(clientModules)) %>,
      startupScript: "<%= locals.startupScript || false %>",
      utmContent: <%- JSON.stringify(locals.utmContent || {}) %>
    };
  </script>
  <script src="/engine/require.js"></script>
  <%- include('./client.ejs') %>
</body>
</html>
